<?xml version='1.0' encoding='utf-8'?>
<widget id="net.trgs.PHOwlHouseNote" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Owl House Note</name>
    <description>
        The De La Rue Owl House Note is designed to illustrate design possibilities when employing a polymer substrate. 
    </description>
    <author email="cbrady@trgs.net" href="http://www.trgs.net">
        TRGS Mobile Development Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
